body {
    background-color:darkolivegreen;
    color:white;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

   /* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }
  
  /* selected link */
  a:active {
    color: white;
  } 

    /* table styles */
  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #000;
    padding: 8px;
  }
  tr:nth-child(even){background-color: #444444;}
  tr:nth-child(odd){background-color: #212121;}  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #244826;
    color: rgb(255, 255, 255);
  }